.App {
    text-align: center;
}

.bountyInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 40vw;
    padding: 20px;
    border: 1px solid black;
}

p.hunter {
    padding-left: 50px;
    font-size: 14px;
}

.form-field {
    margin: 5px;
}

input[type='submit'] {
    align-self: flex-end;
}
